root = true

[*]
indent_style = tab
indent_size = 2
charset = utf-8

trim_trailing_whitespace = true
insert_final_newline = true
max_line_length=120

[*.{json,md,yml,yaml}]
indent_style = space

[*.md]
trim_trailing_whitespace = false
