_current_test
_dist
_playground
.alm
.dev
.DS_Store
.fusebox
.idea
.project
.release
.settings
.tmp
.vscode
build
dist
node_modules
npm-debug.log*
playground
sourcemaps.js.map
yarn.lock
some.sh

# FuseBox Loader API built type definition
# Which is then exported as a module from `src`
src/modules/fuse-loader/LoaderAPI.ts

# FuseBox modules built from TS
modules/fsbx-default-css-plugin
modules/fuse-hmr
modules/fuse-loader
modules/fusebox-hot-reload
modules/fusebox-websocket

# Website
website/.firebase
website/build/
website/i18n/*
website/node_modules
website/static/css
website/translated_docs
website/yarn.lock

some\.sh
