_current_test
_dist
_playground
.alm
.dev
.DS_Store
.fusebox
.idea
.project
.release
.settings
.tmp
debug.log

build
dist
node_modules
npm-debug.log*
yarn-error.log
coverage/
sourcemaps.js.map
yarn.lock
some.sh
.temp
.cache
docs/api
.sortierignore
package-lock.json

# FuseBox Loader API built type definition
# Which is then exported as a module from `src`
src/modules/fuse-loader/LoaderAPI.ts
src/production/__test__/dist

playground/bundle/src/lodash

# Website
website/.firebase
website/build/
website/i18n/*
website/node_modules
website/static/css
website/translated_docs
website/yarn.lock

some\.sh

src/tests/stubs/sparky/foo/e\.json
playground/random/src/bench
