language: node_js
node_js:
  - "7"
install:
  - npm install
  - gulp dist
  - npm install babel-core babel-generator babylon cheerio @angular/core stylus less postcss node-sass uglify-js source-map coffee-script
